body {
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    color: #111;
    padding: 20px;
    line-height: 1.7;
}

h1 {
    text-align: center;
    font-size: 26px;
    color: darkblue;
    margin-bottom: 30px;
}
